window {
    background-image: url("./windowbg.jpg");
    background-repeat: repeat;
}

menu {
    background-color: #ededed;
}

menubar {
    background-color: #dedede
}

toolbar {
    background-color: #cfcfff
}

drawingarea {
    background-color: #ffffff;
}